
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Handjet:wght@100..900&family=Nabla&family=SUSE:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,9,121,1) 35%, rgba(76,0,255,1) 100%);
    min-height: 100vh;
}

h1{
    font-family: 'Nabla';
    text-align: left;

    font-size: 3em;
    color: orange;
}
.menu {

    font-size: 20px;
    font-family: 'Oxanium';
  }
  
  
  .menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu a {

    color: orange;
  }
  


